body { 
    background-color: rgb(167 255 172 / 71%);
    
}

#content { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto; 
    flex-direction: column;
}

#calculator-body-container { 
    display: flex;
    align-items: center;
    justify-content: center;
    color:  black;
    position: absolute;
}

#calculator-body-container :hover { 
    cursor:move; 
}

#frame {
    user-select: none;
    color: black;
    width: 31em;
    height: 39em;
    margin-top: 801px;
    /* rotate: 180deg; */
    
}

#calculator-body { 
    user-select: none;
    color: black;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 500px;
    margin-top: 802px;
    padding: 75px;
    position: absolute;
    overflow: hidden;

}



#calculator-body:hover { 
    cursor: move;
}

/* Prevents inconsistent highlighting of element while being dragged
   Copied from https://stackoverflow.com/questions/826782 */
   .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }
  

#print-box { 
    user-select: none;
    color: rgba(3, 9, 71, 0.88);
    display: flex;
    flex-direction: column;
    border: 1.3px groove rgb(205, 215, 255);
    padding: 8px;
    height: 78px;
    margin: 23px 14px 15px 12px;
    border-radius: 15%;
    background-color: rgba(255, 247, 210, 0.71);
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(148, 213, 210, 0.64) 0px 0px 0px 1px inset;
    cursor: default;
    direction: rtl;
    justify-content: flex-start;
    align-items: flex-end;
    font-family: dico-code-two, mono;
    font-weight: 700;
    font-style: normal;
    gap: 20px;
}

#numbers-display { 
    display: flex;
    justify-self: flex-end;
    align-self: flex-start;
    font-size:26px;
    padding-left: 0px;
    direction: ltr;
    font-family: dico-code-two,mono;
    font-stretch: expanded;
    font-weight: 200;
    font-style: normal;
    align-items: flex-end;
    color: rgb(34 61 95 / 77%);
    font-weight: 400;
}

#buttons-box { 
    display: flex;
    flex-direction: column;
    height: 400px;
    gap:2px;
}

#buttons-box-top { 
    user-select: none;
    color: black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px 18px;
    gap: 2px;
    padding-bottom: 8px;
} 

#buttons-box-bottom { 
    user-select: none;
    color: black;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    padding: 0px 18px;
    padding-right:23px
}

#bbb-left { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr) 2fr;
    gap:5px;
} 

#bbb-right { 
    display: grid;
    grid-template-rows: repeat(5,1fr);
    gap:2px
}


.math-buttons { 
    font-size: 16px;
}

#equation-display { 
    display: flex;
    align-self: flex-start;
    padding-top: 3px;
    font-family: dico-code-two,mono;
    font-stretch: expanded;
    font-weight: 200;
    direction: ltr;

}

button { 
    background-color: rgb(206 243 227);
    border: 1px #b0cdcc solid; 
    border-radius: 30%;
    font-size: 20px;
    padding:13px 4px;
    font-family: 'roboto-mono', sans-serif;
    font-weight: 200;
    font-style: normal;
    cursor:pointer;
    box-shadow: rgb(244 244 244 / 88%) 1px 0px 0px 1px, inset rgb(130 193 192 / 61%) 1px -2px 1px 0px;
    color: #424264;
}

button:hover { 
    border: 1px #10bd83 ridge;
    cursor:default;
}

button:active { 
    background-color: white;
    background: linear-gradient(349deg, rgb(208 255 246), rgb(255 247 210 / 71%))
    
}


#signature { 
    place-self: flex-end;
    font-family: mencken-std-narrow, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9em;
    color: rgb(13 13 113);
    border-bottom: 3px groove rgb(255, 203, 203);
    padding-left: 2px;
    padding-right: 2px;
}

.topButton { 
    font-family: dico-code-two,mono;
    color: rgb(98 98 134)
}